body {
  background: url("../img/main_background.jpg");
  color: rgb(128,108,73);
  font-family: sans-serif;
}
p {
  font-size: 14px;
  text-align: justify;
  text-indent: 10px;
  margin-top: 10px;
}
/* Header Section */
.overflowHidden {
  overflow: hidden;
}
header{
  background-color: rgb(211,200,181);
  border-radius: 20px;
  padding-top: 20px;
  position: relative;
  top: -30px;
}
header .logo {
  font-size: 50px;
  padding-left: 50px;
  margin: 0px;
  color: rgb(108,88,53);
  text-shadow: 4px 4px 3px grey;
  text-align: center;
  display: inline;
}
.logo:hover {
  text-shadow: 6px 6px 3px grey;
  cursor: pointer;
}
header li {
  display: inline;
  vertical-align: middle;
  border: 3px solid rgb(128,108,73);
  border-radius: 10px;
  color: rgb(128,108,73);
  margin-left: 10px;
  padding: 20px 10px 10px 10px;
}
header ul {
  position: relative;
  top:10px;
}
header a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: inherit;
}
header li:hover {
  background: rgb(151,140,121);
  cursor: pointer;
  color: white;
}
/* End of Header Section */

/* Section Info */
.sectionTitle {
  border-top: 2px solid rgb(201,190,171);
  border-bottom: 2px solid rgb(201,190,171);
  border-radius: 10px;
  margin: 0px;
  padding: 0px 0px 10px;
  display: block;
}
.sectionTitle h2 {
    text-align: center;
    text-shadow: 3px 3px 4px lightgrey;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 0px;
}
.sectionTitle h5 {
  text-align: center;
}
/* End of Section Info */
/* Main Content */
.maincontent {
  clear: both;
}
/* 3 boxed sections */
.section {
  border: 2px solid rgb(201,190,171);
  border-radius: 5px;
  margin-top: 30px;
}
.vision {
  width: 280px;
  margin: auto;
}

.vision img {
  height: 170px;
}
.vision h3, h5 {
  margin-bottom: 0px;
}
.vision h5 {
  color: rgb(218,198,163);
}
.vision a {
  text-align: right;
  display: block;
  text-decoration: none;
  color: inherit;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}
.vision a:after {
  content: '...'
}
/* 3 Boxed sections ends here */

/* hero unit starts here */
.heroUnit {
  background: url("../img/hero_img.png") no-repeat;
  background-size: 1020px 480px;
  height: 480px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.heroUnit .leftsideContent {
  clear: both;
  width: 300px;
  height: 460px;
  display: inline-block;
}
.contentWrapper {
  margin-top: 300px;
  margin-bottom: 0px;
}
/* End of Hero Unit */

/* Powerful Insight starts here */

/* Powerful Insight ends here */
.powerfulInsight {
  background-color: rgb(61,50,31);
  margin-top: 10px;
  clear: both;
  color: white;
}
.powerfulInsight h2 {
  margin-bottom: 0px;
}
.powerfulInsight img {
  width: 400px;
  margin: 30px;
  border-radius: 15px;
}
.powerfulInsight .contentWrapper {
  padding-right: 70px;
  margin-top: 150px;
}
.powerfulInsight a {
  display: block;
  text-align: center;
  background-color: rgb(211,200,181);
  border-radius: 20px;
  border: 3px solid white;
  color: rgb(88,68,33);
  text-decoration: none;
}
.powerfulInsight a:hover {
  background-color: rgb(251,240,221);
  color: black;
}
/* Second insight */
.secondInsight {
  background-color: inherit;
  color: inherit;
}
.secondInsight a {
  border-color: black;
}
/* End of powerfulInsight */
/* End of Main content */

/* Footer Start */
footer {
  clear: both;
  margin-top: 10px;
  background-color: rgb(211,200,181);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
footer div {
  margin-top: 30px;
}
footer li {
  display: block;
  margin-left: 5px;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: bolder;
}
footer .logo, .logosub {
  padding-left: 50px;
  margin-bottom: 0px;
}
.logosub {
  font-style: italic;
}
footer .index {
  text-align: center;
}
footer .followus {
  text-align: center;
}
.followus h3 {
  margin-bottom: 10px;
}
.followus img {
  width: 30px;
  margin-right: 10px;
}
footer h6 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Footer Ends */
