/*Main background is texture image is being replicated */
body {
  background: url("../img/main_background.jpg");
  /* color and font used for entire page */
  color: rgb(58,38,3);
  font-family: sans-serif;
}
/* all p tags will get following settings */
p {
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
}
.overflowHidden {
  overflow: hidden;
}
img {
  border-radius: 15px;
}
/* container_12 */
.container_12 {
  background-color: rgb(255,255,255);
}
/* Header Section */
/* Header is an container for 2 grids
  This div is positioned relative with top -30px */
header{
  background-color: rgb(220,220,220);
  border-radius: 20px;
  padding-top: 20px;
  position: relative;
  top: -30px;
}

/* Left side logo style using grid_4 */
header .logo {
  font-size: 50px;
  padding-left: 50px;
  margin: 0px;
  color: rgb(78,58,23);
  text-shadow: 4px 4px 3px grey;
  text-align: center;
  display: inline;
}
.logo:hover {
  text-shadow: 6px 6px 3px grey;
  cursor: pointer;
}
/* Navigation Bar */
header ul {
  position: relative;
  top:10px;
}
/* List of Navigation going inline with border added to it*/
header li {
  display: inline;
  border: 3px solid rgb(58,38,3);
  border-radius: 10px;
  margin-left: 10px;
  padding: 20px 10px 10px 10px;
  color: rgb(78,58,23);
}
header li:hover {
  background: rgb(151,140,121);
  cursor: pointer;
  color: white;
}
header a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: inherit;
}
/* End of Header Section */

/* Section Info */
.sectionTitle {
  border-top: 2px solid rgb(201,190,171);
  border-bottom: 2px solid rgb(201,190,171);
  border-radius: 10px;
  padding: 0px 0px 10px;
  margin-bottom: 20px;
  display: block;
}
.sectionTitle h2 {
    text-align: center;
    text-shadow: 3px 3px 4px lightgrey;
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 0px;
}
.sectionTitle h5 {
  text-align: center;
}
/* End of Section Info */

/* Main Content */
.maincontent {
  clear: both;
}
/* 3 boxed sections */
.section {
  border: 2px solid rgb(201,190,171);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section:hover {
  cursor: pointer;
}
/* overiding alpha and omega for center content, since border taking up 12 px */
.section.alpha {
  margin-left: 4px;
}
.section.omega {
  margin-right: 4px;
}

/* .vision class used to center the content inside the section grid */
.vision {
  width: 280px;
  margin: auto;
}
.vision img {
  height: 170px;
}
.vision h3, h5, h6 {
  margin-bottom: 0px;
}
.vision h5 {
  color: rgb(188,168,133);
}
.vision h6 {
  font-weight: normal;
}
.vision h6:after {
  content: "..."
}
.vision a {
  text-align: right;
  display: block;
  text-decoration: none;
  color: inherit;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}
.vision a:after {
  content: '...'
}
/* 3 Boxed sections ends here */

/* hero unit starts here */
.heroUnit {
  background-color: rgb(240,240,240);
  color: black;
  clear: both;
}
/* Wraps the texts and pushes it to 150px from the top. */
.contentWrapper {
  margin-top: 150px;
  margin-left: 10px;
  border-bottom: 4px solid rgb(200,200,200);
}
/* End of Hero Unit */

/* Powerful Insight starts here */
.powerfulInsight {
  margin-top: 10px;
  clear: both;
  border: 2px solid rgb(201,190,171);
  border-radius: 10px;
}
.powerfulInsight h2 {
  margin-bottom: 0px;
}
.powerfulInsight img {
  width: 400px;
  margin: 30px;
}
.powerfulInsight .contentWrap {
  padding-right: 70px;
  margin-top: 150px;
}
/* changes anchor tag into button */
.powerfulInsight a {
  display: block;
  text-align: center;
  background-color: rgb(211,200,181);
  border-radius: 20px;
  border: 3px solid grey;
  color: rgb(88,68,33);
  text-decoration: none;
}
.powerfulInsight a:hover {
  background-color: rgb(251,240,221);
  color: black;
}
/* Second insight */
/* changes layout of powerfulInsight */
.secondInsight {
  border: none;
}
.secondInsight .firstdiv {
  border-right: 5px;
  border-style: ridge;
  height: 465px;
}
.secondInsight .contentWrap {
  padding-right: 20px;
  padding-left: 30px;
}
.secondInsight img {
  text-align: right;
  margin-left: 40px;
}
.secondInsight a {
  border-color: black;
}
/* End of powerfulInsight */
/* End of Main content */

/* Footer Start */
footer {
  clear: both;
  margin-top: 10px;
  background-color: rgb(220,220,220);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* Pushes all div grid by 30px down */
footer div {
  margin-top: 30px;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: bolder;
}
/* applying style to footer logo */
footer .logo, .logosub {
  padding-left: 50px;
  margin-bottom: 0px;
}
.logosub {
  font-style: italic;
}
/* footer menu styling */
footer .index {
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.index li {
    display: inline;
    margin-left: 0px;

}
.index li:before {
  content: '- ';
}
.index li:first-child:before {
  content: '';
}

/* FollowUs div grid style */
footer .followus {
  text-align: center;
}
.followus h3 {
  margin-bottom: 10px;
}
.followus img {
  width: 30px;
  margin-right: 10px;
}

/* copyright infomation style */
footer h6 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Footer Ends */
